.list-view {
    -fx-border-color: black;
}

.menu-item:focused {
    -fx-background-color: darkcyan;
}

.menu-item {
    -fx-background-color: lightgrey;
    -fx-border-color: black;
}

.menu {
    -fx-background-color: lightgrey;
    -fx-border-color: black;
}

.menu:hover, .menu:showing {
    -fx-background-color: darkcyan;
}

.menu-bar {
    -fx-background-color: grey;
}

.separator {
    -fx-background-color: lightgrey;
}

#mainBorderPane {
    -fx-background-color: grey;
}

.list-cell:focused {
    -fx-background-color: darkcyan;
}